* {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.player1-board, .player2-board {
    display: flex;
    flex-direction: column;
    width: 300px; 
    border: 2px solid black; 
}

.player1-carrier-input, .player1-battleship-input, .player1-cruiser-input, .player1-submarine-input, .player1-destroyer-input,
.player2-carrier-input, .player2-battleship-input, .player2-cruiser-input, .player2-submarine-input, .player2-destroyer-input {
    display: flex;
}

.row {
    display: flex; 
}

.column {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ship {
    background-color: blue;
}

.hidden {
    display: none;
}